<!DOCTYPE html>
<html>
	<head>
  	<title>Studio Sabab - Kinshasa</title>
    <%= stylesheet_link_tag "bootstrap" %>		
    <%= stylesheet_link_tag "application", :media => "all" %>
  	<%= csrf_meta_tags %>
      
		<link rel='shortcut icon' type='image/icon' href='<%= root_url %>/img/studio-sabab.png'/>
	</head>
	<body>
  		<%= javascript_include_tag "application" %>
  		<%= javascript_include_tag "bootstrap" %>
	</body>
</html>
