<h1>
{{first_name}} {{last_name}}
</h1>
<hr>
{{markdown description}}
<hr>
{{#each album in albums}}
	<ul>
		<li>
			<h4>Titre de l'album: {{album.title}}</h4>
			<ul>
				{{album.description}}
			</ul>
		</li>
	</ul>
{{/each}}
<hr>