
<ul class="thumbnails">
  	<li class="span6">
    	<div class="thumbnail">
      		<img {{bindAttr src='picture'}} alt="ALT here"/>
    	</div>
  	</li>
  	<div class="right-position span-custom">
  		<h3>{{first_name}} {{last_name}}</h3>
  		<hr>
      	<p><h4>{{activity}} basé à {{location}}</h4><p/>
      		{{#linkTo 'partner' id="pop" class="btn btn-info" rel="popover" data-content="C'est tout simple à 	faire !" data-original-title="Test du Popover"}}
      	Cliquez pour plus d'informations sur <br/>{{first_name}} {{last_name}}
      	{{/linkTo}}
	</div>
</ul>
